body{
    background-size: cover;
}

.heading {
    width: 100%;
    margin: 0;
    font-size: 20px;
}

 #number_of_objects , #status {
    font-size: 15px;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    line-height: 2;
}
canvas{
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    margin-top: 50px;
}
#start {
    font-size: 15px;
    margin-top: 10px;
}